﻿@model FamilyAccounting.Web.Models.PersonViewModel

@{
    ViewData["Title"] = "Details";
    var pagedList = (IPagedList)ViewBag.OnePageOfWallets;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
<h1 style="margin-left:12px;">Details</h1>
<div class="container">
    <div class="row">
        <div class="col-sm" style="float:left">
            <div>
                <dl class="row">
                    <div class="col-sm-3">
                        <dt style="margin-bottom:8px;">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dt style="margin-bottom:9px;">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dt style="margin-bottom:7px;">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dt style="margin-bottom:8px;">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dt style="margin-bottom:8px;">
                            @Html.DisplayNameFor(model => model.WalletsCount)
                        </dt>
                        <dt style="margin-bottom:9px;">
                            @Html.DisplayNameFor(model => model.Balance)
                        </dt>
                        <dt>
                            @Html.DisplayNameFor(model => model.TotalIncome)
                        </dt>
                    </div>
                    <div class="col-sm-8">
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.WalletsCount)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.Balance)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.TotalIncome)
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <a asp-action="Update" asp-route-id="@Model.Id">Update</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col-sm" style="float:right">
            <div>
                <table style="text-align:center" class="table">
                    <thead>
                        <tr style="text-align:center">
                            <th>Wallet</th>
                            <th>Balance</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.OnePageOfWallets)
                        {
                            <tr>
                                <td style="text-align:left">
                                    <a asp-controller="Wallet" asp-action="Details" asp-route-id="@item.Id"> @item.Description </a>
                                </td>
                                <td style="text-align:right">
                                    @item.Balance
                                </td>
                                <td style="text-align:left">
                                    @if (!item.IsCash)
                                    {
                                        <p>Cash</p>
                                    }
                                    else
                                    {
                                        <p>Credit card</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfWallets, page => Url.Action("Details", new { page }), new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </div>
        <div style="max-height="20px;">
            <a asp-controller="Wallet" asp-action="Create" asp-route-id="@Model.Id" style="float:left" class="btn btn-outline-info"> <i class="glyphicon glyphicon-chevron-left"></i> Create new wallet</a>
        </div>      
    </div>
    </div>


