@model FamilyAccounting.Web.Models.TransactionViewModel

@{
    ViewData["Title"] = "Make transfer";
}

<h1>Make transfer</h1>

<div>
    <form method="post" asp-controller="Transaction" asp-action="MakeTransfer">
        <input placeholder="Enter id of a source wallet" style="display:none" asp-for="SourceWalletId" />
        <div class="d-flex justify-content-between" style="margin-bottom:20px">
            <select style="margin-right:20px" asp-for="TargetWalletId" class="form-control">
                @foreach (var s in ViewBag.Wallets)
                {
                    <option value="@s.Id">@s.Description</option>
                }
            </select>
            <input style="margin-right:20px" class="form-control" placeholder="Describe the transfer" asp-for="Description" />
            <input class="form-control" placeholder="Enter amount" asp-for="Amount" />
        </div>
        <button class="btn btn-primary" type="submit" asp-controller="Transaction" asp-action="MakeTransfer">
            Make transfer
        </button>
        <button class="btn btn-info" asp-controller="Wallet" asp-action="Details" asp-route-id="@Model.SourceWalletId">Back to wallet</button>
    </form>
</div>