@model FamilyAccounting.Web.Models.TransactionViewModel

@{
    ViewData["Title"] = "Set initial balance";
}

<h1>Set initial balance</h1>

<div>
    <form method="post" asp-controller="Transaction" asp-action="MakeExpense">
        <input placeholder="Enter id of a source wallet" style="display:none" asp-for="SourceWalletId" />
        <input style="margin-bottom:20px; width:300px;" class="form-control" placeholder="Enter amount" asp-for="Amount" />
        <button class="btn btn-primary" type="submit" asp-controller="Transaction" asp-action="SetInitialBalance">
            Set initial balance
        </button>
        <button class="btn btn-info" asp-controller="Wallet" asp-action="Details" asp-route-id="@Model.SourceWalletId">Back to wallet</button>
    </form>
</div>